.link {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}

.node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.greenStyle circle {
    fill: green;
}

.redStyle circle {
    fill: red;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

