<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Example app</title>
    <link rel="stylesheet" type="text/css" href="todo.css"/>
</head>
<body>

<div ng-app="graphApp">
    Test app
    <div ng-controller="AppCtrl" data-ng-init="init()">

        <div id="graph"></div>

        <textarea ng-model="graphData" style="width: 100%; height: 200px;">{{graphData}}</textarea>
        <button ng-click="drawGraph()">Draw graph</button>

    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script type="text/javascript" src="d3.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>